* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: #f6eae3; 
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(rgba(54, 33, 18, 0.7), rgba(0, 0, 0, 0.7)), url(Assets/LoginBG.jpg);
    background-size: cover;
}

#app {
    background-color: #372112d6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(125, 111, 102, 0.596);
    width: 500px; 
}

.form-container {
    margin: 20px 0;
}

input {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid #110303;
    border-radius: 4px;
    font-size: 16px; 
    color: #4B3D3A; 
}

button {
    padding: 10px;
    margin-top: 9px;
    margin-bottom: 9px;
    background-color: #835445;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0f0a02e3;
}

.error {
    color:#835445;
    font-size: 14px;
}